@media (min-width:0px) and (max-width:1023px)
{
.selecta2, .selecta3{
display:none !important;
}
}

a.menu:link, a.menu:visited, a.menu:active { text-decoration:none; color:#454545; font-family:Tahoma,arial; font-size:9pt; color:#222222;  }
a.menu:hover {color:#000000; text-decoration:none; border-bottom:1 dotted #ffffff}

#pg {margin-top:0;overflow:hidden;padding-top:12px}
#pg a,#pg strong {border:solid 1px #fafafc;display:block;float:left;margin:0 5px 0 0;padding:2px 8px;text-align:center;text-decoration:none}
#pg a:hover,#pg strong {border:solid 1px #e2e2e6;background-color:#fff}
#pg strong {color:#3f3f3f;font-weight:bold;padding:2px 6px}
ul, ol, li {list-style: none;overflow:hidden; margin: 0px; padding: 0px}
.main3 {font-size: .9em; color: black; text-align: left; margin: 0; padding: 0; text-decoration: none}
.main3 a { color: black; text-decoration: none}
.main-trend {padding:  0 0 0 0 ; margin: 0 0 0 0; background: #f5f4eb ;text-align: left; color: #fff;  font-size: .9em}
.main-trend ul { text-align: left; margin: 0; padding: 0; text-decoration: none;}
.main-trend ul a { text-align: left; margin: 0; padding: 0; text-decoration: none;color:#074177;}
.main-trend ul li {display: inline-block; padding: 0em; margin: 2;color:#074177;}
.main-trend a {color: black; text-align: left; margin: 0; padding: 0; text-decoration: none}
#sf_sep table td, #sf_sep table th {
font-size: 12px;
}
.pop-layer .pop-container {
  padding: 20px 25px;
}
.pop-layer p.ctxt {
  color: #666;
  line-height: 25px;
}
.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}
.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: auto;
  background-color: #eeeeee;
  border: 5px solid #3571B5;
  z-index: 10;
}
.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}
.dim-layer .pop-layer {
  display: block;
}
a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}
a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}

.div_search {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
.search_nv span {
    font-size: 11px;
    position: absolute;
    right: 3px;
    top: 3px;
    color: #000;
    height: 24px;
    padding: 4px;
    border: solid 1px #fff;
    background-image: url(//www.alldatasheet.com/img/alldatasheet_other/etc/dn.gif);
    background-repeat: no-repeat;
    background-position: 95% 3px;
    padding-right: 15px;
    box-sizing: border-box;
}
.search_nv span:hover {
    color: #000;
    border: solid 1px #ccc;
    border-radius: 3px;
    background-color: #eee;
    cursor: pointer;
}

input[type="radio"] {
  display:none;
  margin-top: -1px;
  vertical-align: middle;
}
.close_box {
	display:inline-block;
	width: 100%;
	text-align: right;
}
.close {
	display:inline-block;
    background: #3f5a9d;
    width: 30px;
    height: 30px;
    position: relative;
	cursor:pointer;
}
.close:after {
    content: '';
    height: 30px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    left: 14px;
}

.close:before {
    content: '';
    height: 30px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 14px;
}

.pop-layer-s .pop-container-s {
//  padding: 20px 25px;
  line-height:1.7em
}
.pop-layer-s p.ctxt {
  color: #666;
  line-height: 25px;
}
.pop-layer-s .btn-r-s {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}
.pop-layer-s {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 398px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  z-index: 10;
}
.dim-layer-s {
  display: none;
//  position: fixed;
//  _position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  z-index: 100;
}
.dim-layer-s .searchBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
//  background: #000;
//  opacity: .5;
//  filter: alpha(opacity=50);
}
.dim-layer-s .pop-layer-s {
  display: block;
}
.div_search {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
input[type=text]::-ms-clear  {
  display:none;
}
#frmSubmit{
cursor:pointer;
//width:20% !important;
background:#f5f5f5;
background-size:50% !important;
color:unset;
//float:right;
//height:100% !important;
//border:none;
//border-radius:0.3em;
//text-indent:120%;
background-image:url("//www.alldatasheet.com/img/alldatasheet_other/etc/searchimg.png");
background-size:20px !important;
background-repeat:no-repeat;
background-position-x:center;
background-position-y:center;
}
#frmMore{
cursor:pointer;
//width:20% !important;
background:#f5f5f5;
background-size:50% !important;
color:unset;
//float:right;
//height:100% !important;
//border:none;
//border-radius:0.3em;
//text-indent:120%;
background-image:url("//www.alldatasheet.com/img/alldatasheet_other/etc/moreimg.png");
background-size:20px !important;
background-repeat:no-repeat;
background-position-x:center;
background-position-y:center;
}
.close-x {
display: inline-block;
width: 10px;
height: 10px;
border: 1px solid #cccccc;
background:
linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
linear-gradient(135deg, #cccccc 0%,#cccccc 43%,#fff 45%,#fff 55%,#cccccc 57%,#cccccc 100%);
}
#formsupplyliney{
display:inline;
}
.formsupplylineya{
display:inline;
}
